/* Autora: Alicia Pérez Bolaños*/ 

:root {
   
    --escritorio: url('escritorio.png');
  
    --color-agua: hsl(207, 88%, 77%);
    --color-coche: hsl(0, 0%, 0%);
  
    --color-fondo: hsl(288, 81%, 94%);
    --color-fondo-controles:hsl(208, 100%, 97%);
    --color-informacion1:  hsl(255, 50%, 8%);
    --color-informacion2: hsl(253, 49%, 11%);
    --color-claro: hsl(0, 0%, 100%);
  
  
    --color-primario: hsl(0, 0%, 0%);
    --color-secundario: hsl(2, 50%, 102%);
    --color-resumen: hsl(212, 80%, 86%);
    --color-sombra: hsl(0, 0%, 29%);
    --color-boton: hsl(0, 1%, 75%);
  
  
    --fuente-secundaria:'Press Start 2P', cursive;
  }
  
  * {
    margin: 0;
    padding: 0;
    
  }

  .visualizer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pantalla{
    background: repeating-linear-gradient(to bottom, var(--color-informacion1), var(--color-informacion1) 2px, var(--color-informacion2) 2px, var(--color-informacion2) 4px);
    /* background: repeating-linear-gradient(to bottom, var(--color-informacion1), var(--color-informacion1) 2px, var(--color-informacion2) 2px, var(--color-informacion2) 4px); */   
    width:512;
    height:256;
  }
  body,html{
   /* background-image: var(--escritorio);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -2rem;*/
    background-color: antiquewhite;
    display: flex;
    height: 100%;
    width: 100%;
    font-family: var(--fuente-secundaria);
    
  }
  
  .informacion{
    flex-grow: 1;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: repeating-linear-gradient(to bottom, var(--color-informacion1), var(--color-informacion1) 2px, var(--color-informacion2) 2px, var(--color-informacion2) 4px);
    
   
    gap: 30px;
  }
  
  .info{
    font-family: var(--fuente-secundaria);
    color: var(--color-claro);
    width: 100%;
    text-align: center;
  
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 5px;
    text-shadow: -2px 0 0 hsl(61, 100%, 58%),
      -4px 0 0 hsl(3, 71%, 57%),
      2px 0 0 hsl(181, 98%, 78%),
      4px 0 0 hsl(255, 98%, 50%)
   
  }
  .controles{
    justify-content: center;
    background-color: var(--color-fondo-controles);
    border: 3px solid var(--color-primario);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 140px 120px 120px;
    gap: 10px;
    text-align: center  ;
  }
  .mov{
    font-size: large;
    text-decoration: underline;
    grid-row: 1;
    grid-column: 1/4;
  }
  .up{
    grid-row: 2;
    grid-column: 2;
  }
  .left{
    grid-row: 3;
    grid-column: 1;
  }
  .down{
    grid-row: 3;
    grid-column: 2;
  }
  .right{
    grid-row: 3;
    grid-column: 3;
  }
  .top3{
    color: var(--color-claro);
    display: flex;
    flex-direction: column;
    gap: 20px
  }
  .autora{
    color: var(--color-claro);
    
    margin-top: 100px;
  }
  
  
  .juego {
    flex-grow: 20;
    justify-content: center;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 200px 370px;
    grid-template-rows: 50px 50px 370px;
    align-items: center;
    gap: 20px;
      
  }
  .panel_botones{
    grid-row: 3;
    grid-column: 1;
    display: flex;
    flex-direction: column;
  }
  .boton {
  background-color: var(--color-secundario);
  font-family: var(--fuente-secuendaria);
  /* Modifica el aspecto del cursor para indicar que es un botón */
  cursor: pointer;
  border-radius:5px;
  box-shadow: 3px 3px 15px 3px var(--color-sombra);
  padding: 0.5em;
  margin: 1.5em 0.5em;
  }
  .boton:hover {
  background-color: var(--color-boton);
  /* Modifica el aspecto del cursor para indicar que es un botón */
    
  }
  .boton:active {
  background-color: var(--color-boton); 
  /* Modifica el aspecto del cursor para indicar que es un botón */
  box-shadow: 1px 1px 15px 1px var(--color-primario);
  transform: translate(3px);
  }
  
  .tiempo_restante{
    font-family: var(--fuente-secundaria);
    background-color: azure;
    grid-row: 1;
    grid-column: 2;
    
  }
  .resultado{
    text-align: center;
    font-family: var(--fuente-secundaria);
    grid-row: 2;
    grid-column: 2;
  }
  .game{
    grid-row: 3;
    grid-column: 2;
  }
  
  
  .grid {
    border-radius: 10px;
    background-image: var(--cesped);
    background-size: 40px 40px;
    background-repeat: repeat;
    border: 4px solid;
    display: flex;
    flex-wrap: wrap;
    height: 360px;
    width: 360px;
  }
   
  .grid div {
    height: 40px;
    width: 40px;
  }
    
  .ending-block {
    background-color: hsl(0, 100%, 50%);
  }
    
  .starting-block {
    background-color: hsl(240, 100%, 50%);
  }
    
  .c1 {
    background-image: var(--coche);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(0, 0%, 50%);
  }
    
  .l1, .l2, .l3 {
    background-image:var(--troncos);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(22, 56%, 38%);
      
  }
    
  .l4, .l5, .lf2, .lf3 {
    background-color: var(--color-agua);
  }
    
  .c2, .c3 {
    background-color: hsl(0, 0%, 50%);
  }
    
  .frog {
    background-image: var(--rana);
    background-size: contain;
    background-repeat: no-repeat;
  
  }