  
  :root {
    --casio-bgcolor: #171e27;
    --casio-color: #909eb4;
    --primary-light: #8abdff;
	 --primary: #6d5dfc;
	 --primary-dark: #5b0eeb;
	 --white: #fff;
	 --greyLight-1: #e4ebf5;
	 --greyLight-2: #c8d0e7;
	 --greyLight-3: #bec8e4;
	 --greyDark: #9baacf;
   --sliderVertical: url('imagenes/sliderVertical.png');
   --sliderHorizontal: url('imagenes/sliderHorizontal.png');
   --algoContigo: url('imagenes/algo-contigo.jpg');
   --aw: url('imagenes/aw.jpg');
   --gettingOlder: url('imagenes/getting-older.jpg');
   --theStrokes: url('imagenes/theStrokes.png');
   --waltz: url('imagenes/waltz.jpg');
   --cupid: url('imagenes/cupid.jpg');


  }
  

  .container {
    display: flex;
    justify-content: center;
    margin-top: 3em;
  }
  
  .casio-pt1 {
    display: flex;
    width: 900px;
    height: 450px;
    background: var(--casio-bgcolor);
    border-radius: 4px;
    font-family: Raleway, Arial, serif;
    font-weight: 400;
    font-size: 9px;
    color: var(--casio-color);
    padding: 8px 5px 5px 5px;
    box-shadow:
      0 2px 1px #fffc inset,
      1px 1px 0 #0001,
      1px 1px 0 var(--casio-bgcolor),
      2px 2px 0 #0003,
      2px 2px 0 var(--casio-bgcolor),
      4px 4px 0 #0005,
      4px 4px 0 var(--casio-bgcolor),
      6px 6px 0 #0006,
      6px 6px 0 var(--casio-bgcolor),
      8px 8px 0 #0007,
      8px 8px 0 var(--casio-bgcolor),
      8px 8px 4px #0005;
  }
  
  .casio-pt1 .casio-left {
      width: 200px;
      min-width: 200px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }

  

  .casio-pt1 .casio-left .speaker-bottom {
        width: 100%;
        height: 50px;
        display: flex;
      }
  
  .casio-pt1 .casio-left .speaker-bottom .power {
          width: 60px;
          height: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
  
  
  .casio-pt1 .casio-left .speaker-bottom #power {
              background: #fdafaf;
              width: 12px;
              height: 12px;
              
              
            }


  
  .casio-pt1 .casio-right {
      display: flex;
      flex-direction: column;
      position: relative;
      bottom: 0;
      width: 100%;
      height: 100%;
      padding-right: 8px;
    }
  
  .casio-pt1 .casio-right .casio-controls {
        min-height: 80px;
        border-top: 2px solid var(--casio-color);
      }
  
  .casio-pt1 .casio-right .casio-controls .controls-label {
          display: flex;
          align-items: flex-end;
          justify-content: space-between  ;
          font-size: 9px;
        }
  
  .casio-pt1 .casio-right .casio-controls .controls-label .group {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
          }
  
  .casio-pt1 .casio-right .casio-controls .controls-label .group.buttons .semi.box {
                border-bottom: 0;
                border-radius: 2px 2px 0 0;
                padding: 2px 3px;
                position: absolute;
                height: 10px;
                transform: translate(-28px, -2px);
              }
  

  
  .casio-pt1 .casio-right .casio-controls .controls-label .group .box {
              display: inline-block;
              border: 1px solid var(--casio-color);
              border-radius: 2px;
              padding: 0 10px;
              font-size: 10px;
              margin: 4px;
            }

  
  .casio-pt1 .casio-right .casio-controls .controls-label .group .options > span {
                display: inline-block;
                max-width: 26px;
                padding: 2px 5px;
                text-align: center;
              }
  

  
  .casio-pt1 .casio-right .casio-controls .controls-label .group .options .volume {
                -webkit-clip-path: polygon(0 50%, 100% 15%, 100% 85%, 0 50%);
                        clip-path: polygon(0 50%, 100% 15%, 100% 85%, 0 50%);
              }

              .slider {
                appearance: none;
                width: 12%;
                height: 5px;
                background: #ddd;
                outline: none;
                border-radius: 5px;
                -webkit-transition: .2s;
                transition: opacity .2s;
              }
              
              .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 1.1em;
                height: 0.75em;
                background: var(--sliderHorizontal) no-repeat;
                background-size: cover;
                cursor: pointer;
              }
              
              .slider::-moz-range-thumb {
                width: 1em;
                height: 0.75rem;
                background: var(--sliderHorizontal) no-repeat;
                background-size: cover;
                cursor: pointer;
              }

              .lowpass{
                transform: rotate(-90deg); /* rotate vertically */
                width: 8%;
                
              }
  
  
  .casio-pt1 .casio-right .casio-controls .controls-buttons {
          width: 100%;
          height: 25px;
          margin: 4px 0;
        }
  
  .casio-pt1 .casio-right .casio-controls .controls-buttons .grid {
            border: 1px solid #0004;
            border-bottom-color: #fff4;
            border-right-color: #fff4;
            width: 100%;
            height: 100%;
            background:
              linear-gradient(to bottom, var(--casio-bgcolor) 0 15%, transparent 15% 85%, var(--casio-bgcolor) 85% 100%),
              repeating-linear-gradient(to right, transparent 0 2px, #0004 2px 3px);
            display: flex;
            align-items: center;
          }
  

  

  .casio-pt1 .casio-right .casio-controls .controls-buttons .grid > div:nth-child(2) { margin-left: 36px; }
  
  

  
  .casio-pt1 .casio-right .casio-controls .controls-buttons .grid .group.end .big {
                  margin: 0 4px;
                }
  
  .casio-pt1 .casio-right .casio-controls .controls-buttons .grid .button {
              display: inline-block;
              border: 0;
              width: 8px;
              height: 18px;
              background: black;
              box-shadow:
                1px 1px 2px #0006,
                1px 0 0 #fff5 inset;
            }
  
  
  .casio-pt1 .casio-right .casio-controls .controls-buttons .grid .big.button {
              width: 26px;
              background-image:
                linear-gradient(to top, #44517a 0 20%, transparent 20% 80%, #44517a 80% 100%),
                repeating-linear-gradient(to top, transparent 0 1px, #0003 1px 2px);
            }
  
  .casio-pt1 .casio-right .casio-controls .controls-buttons .grid .steelblue { background: #44517a; }
  
  .casio-pt1 .casio-right .keys-container .keys {
          min-height: 135px;
          position: relative;
          box-shadow: 0 1px 0 1px #1113;
        }
  
  .casio-pt1 .casio-right .keys-container .keys .black-keys {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 73px;
            display: flex;
            justify-content: space-evenly;
          }
  
  .casio-pt1 .casio-right .keys-container .keys .black-keys .black.key {
              grid-area: key;
              width: 22px;
              height: 100%;
              background-color: #111;
              background-image:
                linear-gradient(to right, #111 0 2px, transparent 2px),
                linear-gradient(to left, #111 0 2px, transparent 2px),
                linear-gradient(to top, transparent 0 3px, #fff8 4px 5px, transparent 8px);
              border: 1px outset #ccc;
              border-top: 0;
              border-bottom-left-radius: 4px;
              border-bottom-right-radius: 4px;
              position: relative;
              z-index: 10;
            }
  
  .casio-pt1 .casio-right .keys-container .keys .black-keys .black.key:nth-child(2),
              .casio-pt1 .casio-right .keys-container .keys .black-keys .black.key:nth-child(4),
              .casio-pt1 .casio-right .keys-container .keys .black-keys .black.key:nth-child(7),
              .casio-pt1 .casio-right .keys-container .keys .black-keys .black.key:nth-child(9) {
                margin-right: 28px;
              }
  
  .casio-pt1 .casio-right .keys-container .keys .black-keys .black.key:active,
              .casio-pt1 .casio-right .keys-container .keys .black-keys .black.key.active {
                z-index: 8;
                background-image:
                  linear-gradient(to right, #111 0 2px, transparent 2px),
                  linear-gradient(to left, #111 0 2px, transparent 2px),
                  linear-gradient(to top, transparent 0 1px, #fff3 2px 3px, transparent 6px);
              }
  
  .casio-pt1 .casio-right .keys-container .keys .white-keys {
            display: flex;
            height: 100%;
          }
  
  .casio-pt1 .casio-right .keys-container .keys .white-keys .white.key {
              width: 100%;
              height: 136px;
              background: #fff;
              border: 1px solid #ccc;
              border-left: 2px solid #fff;
              border-right: 2px solid #ddd;
              border-top: 0;
              border-bottom-left-radius: 4px;
              border-bottom-right-radius: 4px;
              position: relative;
              z-index: 5;
              box-shadow: 0 2px 2px #0004;
            }
  
  .casio-pt1 .casio-right .keys-container .keys .white-keys .white.key::after {
                content: "";
                display: block;
                background: linear-gradient(to bottom, #0006 0 1px, #0005 2px 10px, transparent 15% 100%);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
              }
  
  .casio-pt1 .casio-right .keys-container .keys .white-keys .white.key:active,
              .casio-pt1 .casio-right .keys-container .keys .white-keys .white.key.active {
                transform: translate(2px, 0);
                z-index: 2;
                border-top: 2px solid #fff;
                box-shadow: 0 0 2px #0004;
              }
  
  .casio-pt1 .casio-right .keys-container .keys .white-keys .white.key:active::after, .casio-pt1 .casio-right .keys-container .keys .white-keys .white.key.active::after {
                  transform: translate(-2px, -2px);
                }
  
  .casio-pt1 .casio-right .keys-container .note-keys {
          width: 100%;
          
          display: flex;
          font-size: 8px;
          justify-content: space-around;
          transform: translateY(3px);
          box-shadow: 0 5px 4px #0005 inset;
          border-right: 1px solid #fff2;
          border-top: 1px solid #0007;
          position: relative;
          top: -2px;
          left: -1px;
          padding: 0 1px;
          
        }


       /* SEGMENTED-CONTROL */
 .segmented-control {
  margin-top: 3px;
  width: 12rem;
  height: 3rem;
  box-shadow: 0.1rem 0.1rem 0.2rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var( --casio-bgcolor);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}
.segmented-control input {
  display: none;
}
.segmented-control > input:checked + label {
  transition: all 0.5s ease;
  color: var(--primary);
}
.segmented-control__1, .segmented-control__2, .segmented-control__3 {
  width: 4rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--greyDark);
  transition: all 0.5s ease;
}
.segmented-control__1:hover, .segmented-control__2:hover, .segmented-control__3:hover {
  color: var(--primary);
}
.segmented-control__color {
  position: absolute;
  height: 1rem;
  width: 3rem;
  border-radius: 0.8rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--casio-bgcolor);
  pointer-events: none;
}
#tab-1:checked ~ .segmented-control__color {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-2:checked ~ .segmented-control__color {
  transform: translateX(3rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-3:checked ~ .segmented-control__color {
  transform: translateX(6rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-4:checked ~ .segmented-control__color {
  transform: translateX(9rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
  

  
.songSelector {
  padding-top: 20px;
  margin: auto;
  width: 150px;
  height: 100px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.carousel div {
  transform-style: preserve-3d;
  
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 150px;
  height: 100px;
  text-align: center;
  color: #FFF;
  opacity: 0.98;
  border-radius: 10px;
  transition: transform 1s;
  cursor:pointer;
}

.cancion1 {
  transform: rotateY(0deg) translateZ(150px);
}
.cancion1 .item {
  background: var(--theStrokes) no-repeat;
  background-size: cover;
}
.cancion2 {
  transform: rotateY(60deg) translateZ(150px) rotateY(-60deg);
}
.cancion2 .item {
  background: var(--algoContigo) no-repeat;
  background-size: cover;
}
.cancion3 {
  transform: rotateY(120deg) translateZ(150px)  rotateY(-120deg);
}
.cancion3 .item {
  background: var(--aw) no-repeat;
  background-size: cover;
}
.cancion4 {
  transform: rotateY(180deg) translateZ(150px) rotateY(-180deg);
}
.cancion4 .item {
  background: var(--waltz) no-repeat;
  background-size: cover;
}
.cancion5 {
  transform: rotateY(240deg) translateZ(150px) rotateY(-240deg);
} 
.cancion5 .item {
  background: var(--gettingOlder) no-repeat;
  background-size: cover;
}
.cancion6 {
  transform: rotateY(300deg) translateZ(150px) rotateY(-300deg);
} 
.cancion6 .item {
  background: var(--cupid) no-repeat;
  background-size: cover;
}

.next, .prev {
  color: #444;
  position: absolute;
  top: 80px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}
.next { right: 5em; }
.prev { left: 5em; }
  
  
  

 
  
  